*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-weight: bold;
}
body{
    background-color: #D9B611;
}
.selections{
    display: flex;
    justify-content: center;
}
.selection{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 100ms;
}
img{
    height: 20vw;
    margin-top: 20px;
}
.selection:hover{
    transform: scale(1.2);
}
.results{
    text-align: center;
}
.scoreTxt{
    font-size: 70px;
}

.score{
    font-size: 40px;
}
.result{
    margin-top: 30px;
    font-size: 25px;
}
.info{
    margin-top: 30px;
}
.paper{
    rotate: 90deg;
}